#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  # Parse titles from first line of markdown files
  #@items.select { |i| i[:extension] == 'md' }.each do |i|
  #i[:title] = i.raw_content.split("\n").first
  #end
  @items.each do |i|
    if i[:extension] == 'md'
      i[:title] = i.raw_content.split("\n").first
    else
      i[:title] = "hej"
    end
  end
end

compile '/assets/*' do

end

route '/assets/*' do
  item.identifier.chop + '.' + item[:extension]
end

# Sheet items
# /year/subject/index/sheet/item/
compile '/*/*/*/*/*/' do

end

# Sheets
# /year/subject/index/sheet/
compile '/*/*/*/*/' do
  unless item.binary?
    filter :prettyprintinline
    filter :bootstrapify
    filter :includejava
    filter :subheaders
    filter :maruku
    layout 'exercises'
  end
end

# Index pages
# /year/subject/index/
compile '/*/*/*/' do
  layout 'directory'
end

# Directory pages
compile '*' do
  layout 'directory'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :haml, :format => :html5
