.exercise h1 {
  color: #5a5a5a;
  display: none;
}

.exercise ul li h1 {
  display: block;
}

/*Exercise counter: h2*/

.exercise {
  counter-reset: exercise;
}

.exercise h2:before {
  content: "Uppgift " counter(exercise) ": ";
  counter-increment: exercise;
}

/*Part counter: h3*/

.exercise h2 {
  margin: -15px;
  padding-left: 15px;
  color: #5a5a5a;
  margin-top: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  counter-reset: part;
  border: 1px solid #e1e1e8;
  background: #eee;
}

.exercise h3:before {
  content: counter(part, lower-alpha) ") ";
  counter-increment: part;
}

.exercise h3 {
  color: #5a5a5a;
  font-size: 12px;
  line-height: 18px;
  margin-top: 20px;
  display: block;
}

.exercise code {
  padding: 1px 3px !important;
  color: #1e347b;
}

.exercise pre.prettyprint {
  margin-bottom: 10px;
}
