.row
  .bs-docs-example
    .title Uppgift 1
    Vad blir outputen av följande loopar?

  %pre.add-on
    %code.java
      :plain
          for(int i = 1; i <= 5; i++) {
            System.out.println(i * i);
        }        

  %pre.add-on
    %code.java
      :plain
          for(int i = 1; i <= 10; i++) {
            if(i % 2 == 0) {
                System.out.println(i);
            }
        }

  %pre.add-on
    %code.java
      :plain
          for(int i = 1; i <= 3; i++) {
            for(int j = 3; j >= 1; j--) {
                System.out.println(i * j);
            }
        }

  %pre.add-on
    %code.java
      :plain
          for(int i = 3; i >= 1; i--) {
            for(int j = 3; j >= 1; j--) {
                System.out.println(i * j);
            }
        }

  %pre.add-on
    %code.java
      :plain
          for(int i = 1; i <= 5; i++) {
            if(i%2 == 0) {
                for(int j = 1; j <= 3; j++) {
                    System.out.println(i * j);
                }
            }
        }

  .bs-docs-example
    .title Uppgift 2 a
    Skriv om följande do-while-loop till en while-loop:

  %pre.add-on
    %code.java
      :plain
          int n = 0;
        do {
            double ran = Math.random();
            if (ran < 0.5) {
                System.out.println(ran);
                n += 1;
            }
        } while (ran < 0.5);

  .bs-docs-example.add-on
    .title 2b
    Hur vet man om man bör använda en for-loop eller en while-loop?

  .bs-docs-example.add-on
    .title 2c
    Hur vet man om man bör använda en if-else-sats eller en swich-case-sats?

  .bs-docs-example
    .title Uppgift 3
    Fibonaccis talföljd: 0 1 1 2 3 5 8 13 ..

  %pre.add-on
    :plain
        fib(0) = 0
      fib(1) = 1
      fib(n) = fib(n-1) + fib(n-2)
  .bs-docs-example.add-on.cont
    Skriv ett program som skriver ut de 10 första fibonacci-talen.

  .bs-docs-example
    .title Tentauppgift

    En ekvation på formen Ax + By + Cz = D, där A, B, C och D är heltal kallas för en diofantisk ekvation.
    %br
    %br
    Ekvationen kan ha noll eller flera lösningar. Vi är i denna uppgift bara intresserade av ekvationer i vilka A, B, C och D är heltal som är större än noll och vi söker bara sådana lösningar där x, y och z alla är större än eller lika med noll. Därmed vet vi t.ex. att x <= D/A. 
    %br
    %br
    Skriv ett program som läser in de fyra talen A, B, C och D och sedan skriver ut alla lösningar enligt ovan och slutligen även antalet lösningar.
