// Page title
%title= @item[:title]
// Encoding
%meta{:charset => "utf-8"}
// Bootstrap styles
%link{:href => "/assets/css/bootstrap.min.css", :rel => "stylesheet"}
// Site stylesheet
%link{:href => "/assets/css/styles.css", :rel => "stylesheet"}
// Bootstrap responsive
%link{:href => "/assets/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
// Syntax highlight stylesheet
%link{:href => "/assets/css/coderay.css", :rel => "stylesheet"}
// jQuery
%script{:src => "/assets/js/jquery-1.8.2.min.js"}
%script{:src => "/assets/js/bootstrap.min.js"}
