.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"}= @items.find { |i| i.parent.nil? }[:title]
      .nav-collapse
        %ul.nav
          - breadcrumbs_trail.each do |item|
            - unless item.parent.nil?
              %li.dropdown
                %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
                  =item[:title]
                  %b.caret
                %ul.dropdown-menu
                  - item.parent.children.each do |sibling|
                    %li
                      %a{:href => sibling.path}= sibling[:title]
