h2 Vad är SI?
p Ett SI-pass är kort och gott ett övningspass som leds av oss SI-ledare. Vi är äldre IT-studenter.  
p Syftet med ett SI-pass är inte att lära sig något nytt, utan att få djupare förståelse för materialet från föreläsningarna och förbereda sig inför tentan.
h2 Vad gör jag här?
p Här hittar du uppgifterna från våra pass.
p Under resurser hittar du även en bunt gamla tentor och annat smått och gott.
